[core]
    editor = nvim
    autocrlf = false
    pager = "LESSCHARSET=utf-8 less"

[alias]
    st = status
    graph = log --graph --oneline --all -10 --date=short --decorate=short --format='%C(yellow)%h%Creset %C(cyan)%cn%Creset%C(magenta reverse)%d%Creset %s'
    cm = commit -m
    acm = !git add . && git commit -m
    setup = !git init && touch .gitignore && git add .gitignore && git commit -m 'First commit'
    today = log --after='`date "+%Y-%m-%d"` 0:0' --oneline --branches *
    ai = add -i
    fi = flow init
    fid = flow init -d
    ffs = flow feature start
    fff = flow feature finish
    ffp = flow feature publish
    frs = flow release start
    frf = flow release finish
    frp = flow release publish
    fhs = flow hotfix start
    fhf = flow hotfix finish
    fhp = flow hotfix publish

[color]
    ui = auto

[commit]
    template = ~/.git_commit_template

[pull]
    rebase = false
    ff = only

[diff]
    tool = nvimdiff
    algorithm = histogram
    colorMoved = dimmed-zebra

[difftool "nvimdiff"]
    cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""

[merge]
    tool = nvimdiff
    ff = false

[mergetool "nvimdiff"]
    cmd = "nvim -d -c \"4wincmd w | wincmd J | wincmd =\" -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[credential "helperselector"]
	selected = manager
