[core]
    editor = nvim-qt

[alias]
    st = status
    graph = log --graph --oneline --all -10 --date=short --decorate=short --format='%C(yellow)%h%Creset %C(cyan)%cn%Creset%C(magenta reverse)%d%Creset %s'
    cm = commit -m
    acm = !git add . && git commit -m
    setup = !git init && touch .gitignore && git add .gitignore && git commit -m 'First commit'
    today = log --after='`date "+%Y-%m-%d"` 0:0' --oneline --branches *

[color]
    ui = auto
