[[plugins]]
repo = 'Shougo/dein.vim'
on_event = 'CursorHold'

[[plugins]]
repo = 'vim-denops/denops.vim'
on_event = ['VimEnter']
lua_source = '''
    vim.g.denops_server_addr = '127.0.0.1:32123'
    vim.g["denops#debug"] = 0
'''
